.mainchart {
    float: left;
    width: 800px;
}

.strategy {
    float: left;
    width: 800px;
    height: 600px;
}

.backtest {
    float: left;
}

.performanceview {
    height: 40px;
}

.performance {
    float: left;
    width: 120px;
    height: 40px;
}